*.py[co]
*~
*.o
*.a
*.so
*.d
/.emacs*
/cmusphinx-svn
/sphinxtrain-bin
/sphinxtrain-perl
/sphinxtrain-python
/pocketsphinx-extra
/junk/
/am/
/corpora/
/lm/
/wc_corpus/
/dict/non-free/
/dict/beep-*
/dict/unisyn-*
